// iphone 5 down / less then 375 and down
@media (max-device-width: 330px) {
}

@media (max-device-width: 375px) {
    lib-home {
        .mat-selection-list {
            .mat-list-item-content {
                padding-left: 0 !important;
                padding-right: 0 !important;
            }
        }
        .story-list {
            .story-detail {
                margin-left: 0 !important;
            }
        }
    }

    lib-pagination {
        .page-item {
            &.first-item {
                display: none;
            }
            &.previous-item {
                display: none;
            }
        }
    }
}

// standard ipad width
@media (device-width: 1024px) {
}

@include media-breakpoint-up(sm) {
}

@include media-breakpoint-down(sm) {
}

@include media-breakpoint-up(md) {
}

@include media-breakpoint-down(md) {
}

@include media-breakpoint-up(lg) {
}

@include media-breakpoint-up(xl) {
}
