@import '~@angular/material/theming';
// NOTE
// color pallet generator: http://mcg.mbitson.com/#!?mcgpalette0=%23323232

// using https://fonts.googleapis.com/icon?family=Material+Icons
// @import "~material-design-icons/iconfont/material-icons.css"; // asset too large
/* Color Preset */

$md-primary: (
    50: #ffffff,
    100: #ffffff,
    200: #ffffff,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
    ),
);

$md-accent: (
    50: #efefef,
    100: #d6d6d6,
    200: #bbbbbb,
    300: #9f9f9f,
    400: #8b8b8b,
    500: #767676,
    600: #6e6e6e,
    700: #636363,
    800: #595959,
    900: #464646,
    A100: #f6b1b1,
    A200: #f18383,
    A400: #ff4242,
    A700: #ff2929,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #ffffff,
        A700: #ffffff,
    ),
);

$md-warn: (
    50: #f9e0e0,
    100: #f0b3b3,
    200: #e68080,
    300: #db4d4d,
    400: #d42626,
    500: #cc0000,
    600: #c70000,
    700: #c00000,
    800: #b90000,
    900: #ad0000,
    A100: #ffd7d7,
    A200: #ffa4a4,
    A400: #ff7171,
    A700: #ff5858,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #ffffff,
        400: #ffffff,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000,
    ),
);

@include mat-core();
/* Typography */
$custom-typography: mat-typography-config(
    $font-family: $font-family,
);
$custom-theme-primary: mat-palette($md-primary, 50, 100);
$custom-theme-accent: mat-palette($md-accent, 400, 900);
$custom-theme-warn: mat-palette($md-warn, 500, 900);
$custom-theme: mat-light-theme($custom-theme-primary, $custom-theme-accent, $custom-theme-warn);
@include mat-base-typography($custom-typography);
// Override typography for a specific Angular Material components.
@include mat-checkbox-typography($custom-typography);
// Override typography for all Angular Material, including mat-base-typography and all components.
@include angular-material-typography($custom-typography);
@include angular-material-theme($custom-theme);
