/* stylelint-disable */

$font-family: 'Encode Sans', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;

$primary: $black;
$secondary: #fff;
$danger: #cc0000;
$dark: #323232;
$warning: #f9c57d;
$muted: $gray;

$body-color: $black;
$white: #f0f0f0;
$body-bg: $white;

$theme-colors: (
    'primary': $primary,
    'dark': $black,
    'white': $white,
    'muted': $muted,
    'secondary': $secondary,
);

$default-border-radius: 2px;
