@import './colors';
@import './mixin-bits/fonts';
@import './variables';
@import './mixins';

// NOTE only 2 free types are available no italics
@import url('https://fonts.googleapis.com/css?family=Encode+Sans:wght@400;700|Source+Code+Pro:wght@300|Material+Icons&display=swap');

@import './theme';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/bootstrap-grid';
@import '~bootstrap/scss/utilities';
//@import '~bootstrap/scss/utilities/background';
@import '~bootstrap/scss/button-group';
//@import "~bootstrap/scss/list-group";
//@import "~bootstrap/scss/card";
@import '~bootstrap/scss/input-group';
@import '~bootstrap/scss/forms';
@import '~bootstrap/scss/images';
@import '~bootstrap/scss/buttons';
//@import "~bootstrap/scss/badge";
@import '~bootstrap/scss/type';
@import '~bootstrap/scss/alert';
@import '~bootstrap/scss/pagination';
@import '~bootstrap/scss/reboot';
@import './responsive';

html {
    background: $black;
    background-color: $black !important;
    // background: $body-bg;
    // background-color: $body-bg !important;
}

body {
    @include primary-font();
    font-size: 16px;
    line-height: 17px;
    color: $white;
    margin-bottom: 0;
    background-color: transparent !important;
}

a,
p,
ul,
li,
div {
    color: $white;
}

.text-muted {
    color: $muted !important;
}

a.reset-link {
    color: inherit !important;
    &:link {
        color: inherit !important;
    }
    &:visited {
        color: inherit !important;
    }
}

a.hover {
    color: $white !important;
}

h1 {
    font-size: 1.75em;
    line-height: 1em;
    font-weight: 700;
}

h2 {
    font-size: 1.75em;
    line-height: 1em;
    font-weight: 700;
}

.strong {
    font-weight: 700;
}

.mat-divider {
    border-top-color: $white !important;
}

.cf {
    &::after {
        display: block;
        clear: both;
        content: '';
    }
}
