@import 'colors';

:host {
    .pagination {
        .page-item {
            font-size: 0.85em;
            // do not show last
            &.last-item {
                display: none;
            }
        }
        .page-item.active .page-link {
            background-color: $orange;
        }
        .page-link {
            border-color: #fff;
            &.rounded-next {
                border-radius: 0 0.25rem 0.25rem 0 !important;
            }
        }
    }
}
