@import 'colors.scss';
:host {
    mat-selection-list {
        mat-list-option {
            height: inherit;
            &.mat-list-single-selected-option {
                background: rgba($color: $orange, $alpha: 0.15);
            }
            &:hover {
                border: 1px inset rgba($color: #fff, $alpha: 0.1) !important;
            }
        }
    }

    .story-url {
        mat-icon {
            font-size: 1.5em;
        }
        .url-text {
            font-size: 0.75em;
        }
        .mat-spinner {
            opacity: 0.7;
        }
    }
    .pusher {
        width: 100%;
        min-height: 100px;
    }
    .story-spinner-container {
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        z-index: 2;
        background-color: rgba($color: #000000, $alpha: 0.3);
        mat-spinner {
            position: relative;
            top: 15%;
        }
    }

    .story-list {
        .story-index {
            font-weight: 700;
            font-size: 0.75em;
            .boxed {
                background-color: rgba($color: $orange, $alpha: 0.5);
            }
        }

        .show-detail {
            .text-secondary-alpha {
                color: rgba($color: $orange, $alpha: 0.7);
            }
            cursor: pointer;
        }
        .story-detail {
            border-bottom: 1px solid rgba($color: #000000, $alpha: 0.06);
            .title {
                font-size: 0.85em;
                line-height: 1.35em;
            }
            .small-detail {
                font-size: small;
            }
        }
    }
}
