@import './mixin-bits/fonts';
@import 'colors';

:host {
    .story-full-detail {
        .small-detail {
            font-size: small;
        }
        .desc-wrap {
            @include secondary-font();
            font-size: 0.85em;
            line-height: 1.3em;
            .desc-body {
                font-size: 0.85em;
                color: $gray;
            }
        }
        .outter-list-wrap {
            > * {
                @include secondary-font();
            }
            background-color: rgba($color: #fff, $alpha: 0.1);
        }
        .list-group {
            font-size: 0.85em;
            line-height: 1.3em;
            list-style: none;
            .list-group-item {
                color: #aaa !important;
            }
            .upper-list {
                font-size: 1.1em;
            }

            .lower-list {
                font-size: 1em;
            }
        }
    }
    .spinner-wrap {
        .caption {
            font-size: 0.75em;
        }
    }
}
